<div class="container">
  <h1><%=@user.name%>'s surveys</h1>
  <ul class="admin_surveys">
    <table id ="table_stats">
    <%@user.surveys.each do |survey|%>
    <tr>
      <li class="admin_survey_list_item">
      <td><%=survey.name%></td>
      <td><a href="../statistics/<%=survey.id%>"> stats</a></td>
      <input type="hidden" class="survey_id" name="survey_id" value="<%= survey.id %>">
      <td> <button class="toggle_survey"><%= survey.active == true ? "Deactivate" : "Activate" %></button> </td>
      </li>
    </tr>
    <%end%>
  </table>
  </ul>
</div>
